body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  width: 100%;
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.container {
  display: flex;     
  flex: 1 0 auto;  
  min-height: calc(100vh - 100px); 
  position: relative;
  z-index: 0;
}

.left {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background: linear-gradient(180deg, black, rgb(61, 0, 61));
  color: white;
}

.right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(night-sky.jpg);
  background-size: cover;
  background-position: center;
}

.accordion {
  position: relative;
  z-index: 3;
}

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.accordion-header {
  width: 100%;
  padding: 15px;
  text-align: left;
  background: gray;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff;
  padding: 0 15px;
}

.accordion-content p {
  margin: 15px 0;
}

.bottom-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}