body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;     
  height: 100vh;    
}

.left {
  flex: 1;       
  background-color: purple;
}

.right {
  flex: 1;      
  background-color: black;
}